<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <style>
            /* ボタンのスタイル */
            .custom-button {
                background-color: #007bff;
                color: #fff;
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                margin-right: 10px;
                font-size: 12px;
            }

            .select-button {
                font-size: 12px;
                ;
            }
        </style>
    </head>
    <body>
        <p><a class="custom-button" href="/create">ユーザーの追加</a></p>
        <label for="filterKeyword">名前絞り込み: </label>
        <input type="text" id="filterKeyword">
        <button class="custom-button" id="filterButton">絞り込み</button>
        <div id="selectedInfo">
            <h3>選択した情報一覧</h3>
            <table id="selectedTable">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Kana Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Workplace</th>
                    <th>Household</th>
                </tr>
            </table>
        </div>
        <h3>DB情報一覧</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kana Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Workplace</th>
                <th>Household</th>
            </tr>
            <% personas.forEach(function(persona) { %>
                <tr>
                    <td>
                        <%= persona.id %>
                    </td>
                    <td>
                        <%= persona.name %>
                    </td>
                    <td>
                        <%= persona.kana_name %>
                    </td>
                    <td>
                        <%= persona.gender %>
                    </td>
                    <td>
                        <%= persona.email %>
                    </td>
                    <td>
                        <%= persona.phone %>
                    </td>
                    <td>
                        <%= persona.address %>
                    </td>
                    <td>
                        <%= persona.workplace %>
                    </td>
                    <td>
                        <%= persona.household %>
                    </td>
                    <td>
                        <a class="custom-button" href="/edit/<%= persona.id %>">更新</a>
                        <a class="custom-button" href="/delete/<%= persona.id %>">削除</a>
                        <button class="custom-button select-button" data-id="<%= persona.id %>">選択</button>
                    </td>
                </tr>
                <% }); %>
        </table>
        <script type="text/javascript">
            document.getElementById("filterButton").addEventListener("click", function () {
                var keyword = document.getElementById("filterKeyword").value.toLowerCase();
                var nameCells = document.querySelectorAll('td:nth-child(2)');

                nameCells.forEach(function (cell) {
                    var nameValue = cell.textContent.toLowerCase();
                    var row = cell.parentElement;

                    if (nameValue.includes(keyword)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
            let personas = JSON.parse('<%= JSON.stringify(personas) %>'.replace(/&#34;/g, '"'));
            var selectedInfo = [];

            document.querySelectorAll(".select-button").forEach(function (button) {
                button.addEventListener("click", function () {
                    console.log("ボタンがクリックされました");

                    var userId = parseInt(button.getAttribute("data-id"), 10);
                    console.log("選択ボタンのdata-id: " + userId);

                    var selectedPersona = personas.find(function (persona) {
                        console.log("persona.id: " + persona.id);
                        return persona.id === userId;
                    });
                    console.log("選択したユーザー情報: ", selectedPersona);


                    if (selectedPersona) {
                        selectedInfo.push(selectedPersona);

                        console.log("選択したユーザー情報: ", selectedPersona);

                        var row = button.parentElement.parentElement;
                        row.style.display = "none";

                        var selectedTable = document.getElementById("selectedTable");
                        // 新しい行を作成
                        var newRow = selectedTable.insertRow();

                        // ID
                        var cell1 = newRow.insertCell(0);
                        cell1.textContent = selectedPersona.id;

                        // 名前
                        var cell2 = newRow.insertCell(1);
                        cell2.textContent = selectedPersona.name;

                        // カナ名
                        var cell3 = newRow.insertCell(2);
                        cell3.textContent = selectedPersona.kana_name;

                        // 性別
                        var cell4 = newRow.insertCell(3);
                        cell4.textContent = selectedPersona.gender;

                        // メールアドレス
                        var cell5 = newRow.insertCell(4);
                        cell5.textContent = selectedPersona.email;

                        // 電話番号
                        var cell6 = newRow.insertCell(5);
                        cell6.textContent = selectedPersona.phone;

                        // 住所
                        var cell7 = newRow.insertCell(6);
                        cell7.textContent = selectedPersona.address;

                        // 職場
                        var cell8 = newRow.insertCell(7);
                        cell8.textContent = selectedPersona.workplace;

                        // 世帯情報
                        var cell9 = newRow.insertCell(8);
                        cell9.textContent = selectedPersona.household;
                    }
                });
            });
        </script>
    </body>
</html>
